!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #1A1E21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #A5B154
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3oin/bash: special: cemmand not found

URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false

*.font: xft:Jetbrains Mono:style=Bold:size=10
*.boldFont: xft:Jetbrains Mono:style=Bold:size=10
*.italicFont: xft:Jetbrains Mono:style=Italic:size=10
*.boldItalicFont: xft:Jetbrains Mono:style=Bold Italic:size=10

